#LoginView {
    -fx-background-color: #23445e;
}

#MainView {
    -fx-background-color: #48427f;
}

#TemaView {
    -fx-background-color: #48427f;
}

#StudentView {
    -fx-background-color: #48427f;
}

#NotaView {
    -fx-background-color: transparent;
}

#MeniuView {
    -fx-background-color: #48427f;
}

#CreareContView {
    -fx-background-color: #48427f;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.check-box {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.check-box:hover .box {
    -fx-background-color: #23445e;
}

.check-box .box {
    -fx-background-color: #527194;
    -fx-border-color: #d8d8d8;
    -fx-border-width: 0;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.chart-pie-legend {
    -fx-background-color: #7e6097;
    -fx-stroke: #5e5e5e;
}

.chart-legend {
    -fx-background-color: #7e6097;
    -fx-stroke: #5e5e5e;
}


.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #9c8d9c;
    -fx-control-inner-background: #7e6097;
    -fx-background-color: #755e67;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 13pt;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-border-color: #d8d8d8;
    -fx-border-width: 0;
    -fx-background-color: #527194;
    -fx-text-fill: white;
}

.text-field:hover {
    -fx-background-color: #23445e;
}

.list-view {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-border-color: #d8d8d8;
    -fx-border-width: 0;
    -fx-background-color: #527194;
    -fx-text-fill: white;
}

.list-view .list-cell {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-background-color: #527194;
    -fx-text-fill: white;
}

.list-view .list-cell:hover {
    -fx-background-color: #5e5e5e;
}

.list-view .list-cell:selected {
    -fx-background-color: #23445e;
}

.combo-box {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-border-color: #d8d8d8;
    -fx-border-width: 0;
    -fx-background-color: #527194;
}

.combo-box .cell{
    -fx-font-family: "Segoe UI";
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-background-color: #527194;
}

.combo-box .cell:hover{
    -fx-background-color: #5e5e5e;
}

.combo-box:hover {
    -fx-background-color: #23445e;
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: #527194;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #23445e;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #23445e;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 0, 0;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.pagination{
    -fx-base:black;
}
.pagination .toggle-button , .mypage .button{
    -fx-background-radius:15px;
    -fx-padding: 0px;
}
.pagination .button{
    -fx-padding: 5 15 5 16px;
}
.pagination .label {
    -fx-text-fill:white;
}