.text-field {
    -fx-font-size: 20px;
    -fx-font-family: fantasy;
    -fx-background-color: #fff6ac;
    -fx-border-color: black;
    /*-fx-background-radius: 30;*/
    /*-fx-border-radius: 30;*/
    -fx-border-width: 5;
    -fx-background-insets: 5px;

    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.button {
    -fx-background-color: transparent;
}

#trimiteMailButton:hover {
    -fx-cursor: hand;
}

#exitButton:hover {
    -fx-cursor: hand;
}

.label {
    -fx-font-weight: bold;
}

#forgotPasswordRootAnchor {
    -fx-background-color: darkcyan;
    -fx-background-radius: 30;
    -fx-border-color: black;
    -fx-border-width: 6;
    -fx-border-radius: 30;
    -fx-background-insets: 5px;
}